audioread==2.1.9
beautifulsoup4==4.10.0
bs4==0.0.1
dlib==19.22.1
docopt==0.6.2
enum34==1.1.10
face-recognition==1.3.0
face-recognition-models==0.3.0
fairseq==0.9.0
fastapi==0.70.0
ffmpeg==1.4
ffprobe==0.5
filelock==3.0.12
filterpy==1.4.5
fitbert==0.4.0
google-pasta==0.2.0
grpcio==1.41.1
imageio==2.5.0
imageio-ffmpeg==0.3.0
immutables==0.14
importlib-metadata==1.7.0
importlib-resources==3.0.0
imutils==0.5.2
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.10.0
joblib==1.1.0
keras==2.6.0
Keras-Preprocessing==1.1.2
moviepy==1.0.0
multidict==4.7.6
nest-asyncio==1.5.1
numba==0.53.1
numpy==1.19.5
oauth==1.0.1
oauthlib==3.1.1
olefile==0.45.1
opencv-contrib-python==4.4.0.46
opencv-python==4.4.0.46
scikit-image==0.14.2
scikit-learn==0.24.2
scipy==1.2.1
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
sklearn==0.0
sniffio==1.1.0
SoundFile==0.10.3.post1
soupsieve==2.3.1
spicy==0.16.0
starlette==0.16.0
system-service==0.3
systemd-python==234
tabulate==0.8.7
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.2
tensorflow-estimator==2.6.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
threadpoolctl==3.0.0
urllib3==1.24.1
usb-creator==0.3.3
uvicorn==0.15.0
uvloop==0.14.0
virtualenv==20.0.35
